<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>messenger</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>controller.user.AdvancedUserController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/users/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>a servlet used to make logIn and logOut</description>
		<servlet-name>auth-servlet</servlet-name>
		<servlet-class>controller.user.AuthorizationController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>auth-servlet</servlet-name>
		<url-pattern>/auth/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>chat-servlet</servlet-name>
		<servlet-class>controller.chat.ChatController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>chat-servlet</servlet-name>
		<url-pattern>/chats/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>message-servlet</servlet-name>
		<servlet-class>controller.message.MessageController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>message-servlet</servlet-name>
		<url-pattern>/messages/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<listener>
		<listener-class>context.HttpSessionCollector</listener-class>
	</listener>

	<listener>
		<listener-class>context.ServletContextListenerImpl</listener-class>
	</listener>

	<filter>
		<description>authorization filter</description>
		<filter-name>auth-filter</filter-name>
		<filter-class>filters.AuthorizationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>auth-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>